<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Sacramento&display=swap" rel="stylesheet">
    <title>Main Page</title>
</head>

<body>
    <header>
        <ul class="nav-bar">
            <li class="header">Recipes</li>
            <li class="nav"><a href="/">Home</a></li>
            <li class="nav"><a href="/recipes">Recipes</a></li>
            <li class="nav"><a href="/recipes/new">Add New Recipe</a></li>
            <li class="nav"><a href="/ingredients">Ingredients</a></li>
            <li class="nav"><a href="/ingredients/new">Add New Ingredient</a></li>
        </ul>
        <% if(user){ %>
            <p><%= user.username %></p>
            <form action="/logout?_method=DELETE" method="POST">
              <input type="submit" value="Logout" />
            </form>
            <% } else { %>
            <a href="/login">Login/Register</a>
            <!--<a href="/register">Register</a>-->
            <% } %>
    </header>

</body>

</html>