<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Sacramento&display=swap" rel="stylesheet">
    <title>Ingredient New Page</title>
</head>

<body>
    <header>
        <ul class="nav-bar">
            <li class="header">Recipes</li>
            <li class="nav"><a href="/">Home</a></li>
            <li class="nav"><a href="/recipes">Recipes</a></li>
            <li class="nav"><a href="/recipes/new">Add New Recipe</a></li>
            <li class="nav"><a href="/ingredients">Ingredients</a></li>
            <li class="nav"><a href="/ingredients/new">Add New Ingredient</a></li>
        </ul>
    </header>
    <main>
        <form action="/ingredients" method="POST">
            <p>
                <select name="recipe">
                    <% recipes.forEach(recipe => { %>
                    <option value="<%= recipe._id %>"><%= recipe.name %></option>
                    <% }) %>
                </select>
            </p>
            <input type="text" name="name" placeholder="Ingredient Name" />
            <input type="text" name="quantity" placeholder="Quantity" />
            <input type="text" name="measurement" placeholder="Measurement (cups, tbsp, lbs, oz)" />
            <input type="submit" value="Add Ingredient" />
        </form>
    </main>

</body>

</html>