* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://i.imgur.com/zsIWLh1.jpg?1");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #F0F0F0;
}

li.header {
    color: #847f7a;
    font-size: 60px;
    font-family: 'Sacramento', cursive;
}

li.nav {
    font-size: 25px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #847f7a;
}

a:hover {
    color: #CAC8C6;
}

ul.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #847f7a;
    margin: 0;
    padding: 0;
    height: auto;
    list-style-type: none;
    background-color: #FFE8DF;
}

.show-page {
    /* border: 1px dotted blue; */
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top: 200px;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

.recipe-form {
    border: 3px solid #847f7a;
    width: auto;
    height: auto;
    background: rgba(251, 233, 224, .8);
    padding: 20px;
}

.ingredient-list {
    border: 3px solid #847f7a;
    width: auto;
    height: auto;
    background: rgba(251, 233, 224, .7);
    padding: 20px
}

.show-page h2 {
    font-family: 'Sacramento', cursive;
    font-size: 45px;
    margin-bottom: 10px;
}