<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe Page</title>
</head>
<body>
    <header>
        <h1>Edit a Recipe</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/recipes">Recipes Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/recipes" method="POST">
            <input type="text" name="name" placeholder="Recipe Name">
            <input type="text" name="category" placeholder="Category">
            <input type="date" name="date created">
            <p>
            <textarea type="text" name="directions" placeholder="Directions"></textarea>
            </p>
            <input type="submit" value="Edit Recipe"> 
        </form>
    </main>
</body>
</html>